*
!index.html
!explainer.html
!README.md
!khata-format.md
!LICENSE
!.gitignore
!.assetsignore
!docs
!docs/**
!demo
!demo/**
!sample-data
!sample-data/**
docs/.DS_Store
demo/.DS_Store
sample-data/.DS_Store
sample-data/__pycache__/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
